---
import Book from './Book.tsx';
import SvgSymbolFavorite from './SvgSymbolFavorite.svg';
import {
  getCollection,
  type CollectionEntry,
  type InferEntrySchema
} from 'astro:content';
const books: CollectionEntry<'book'>[] = (
  await getCollection(
    'book',
    ({ data }: { data: InferEntrySchema<'book'> }) => {
      return !!data.showOnHomepage;
    },
  )
).sort((a, b) => b.data.pubYear - a.data.pubYear);
const gridId = 'astro-grid-generated-id'; // TODO use uuid
// TODO refactor below code to prevent code duplication, use BooksGrid.tsx preferably
---
<SvgSymbolFavorite />

<ul
  class="custom-grid-has-row-behavior relative flex flex-wrap gap-0"
  id={gridId}
>
  {
    books.map(({ id, data }) => (
      <li class="pb-1">
        <Book
          id={id}
          title={data.title}
          author={data.author}
          description={data.description}
          coverUrl={data.coverUrl}
          coverClassName={data.coverClassName}
          externalUrl={data.externalUrl}
          icon={data.icon}
          isbn={data.isbn}
          language={data.language}
          pubYear={data.pubYear}
          updatedYear={data.updatedYear}
        />
      </li>
    ))
  }
</ul>

<script type="module" src="/src/utils/refineMasonryLayout.ts"></script>
