---
// TODO How to read from Astro content collection files?
// TODO How to validate Astro data with imported TypeScript interface?
import Card from './Card.tsx';
import FavoriteSymbol from './FavoriteSymbol.astro';
const books = [
  {
    id: '1',
    title: 'Designing with the Mind in Mind',
    author: 'Jeff Johnson',
    description:
      'A practical guide to understanding human perception and cognition in UI design',
    coverUrl: '/images/books/978-0-12-818202-4.jpg',
    isbn: '978-0-12-818202-4',
  },
  {
    id: '2',
    title: "Don't Make Me Think",
    author: 'Steve Krug',
    description: 'A common sense approach to web usability',
    coverUrl: '/books/dont-make-me-think.jpg',
    isbn: '978-6-54-321012-3',
  },
  {
    id: '3',
    title: 'The Inmates Are Running the Asylum',
    author: 'Alan Cooper',
    description:
      'Why high tech products drive us crazy and how to restore the sanity',
    coverUrl: '/books/inmates.jpg',
    isbn: '978-6-54-321012-4',
  },
];
---

<FavoriteSymbol />

<ul class="flex flex-wrap md:flex-col">
  {
    books.map((book) => (
      <li>
        <Card
          author={book.author}
          title={book.title}
          description={book.description}
          isbn={book.isbn}
          coverUrl={book.coverUrl}
        />
      </li>
    ))
  }
</ul>
